<p>一个不太理性的理想主义者，一个书呆。如下<a href="https://www.douban.com/people/yanshuoIam/?_i=6911062Iohx_4q">最近已读</a>：</p>


<div class="my-book-carousel">
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/35433917.jpg" alt="九王夺嫡" /></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/36598490.jpg" alt="朱元璋传" /></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/bhshzdzzzx.jpg" alt="变化社会中的政治秩序" /></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/dzlgz.jpg" alt="东周列国志" /></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/eyhwj.jpg" alt="二月河文集" /></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/hfz.jpg" alt="韩非子" /></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/hlm.jpg" alt="红楼梦" /></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/lsscdyl.jpg" alt="历史深处的忧虑" /></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/xyj.jpg" alt="西游记" /></a></div>
        <div><img data-lazy="https://raw.githubusercontent.com/dustincys/cn/assets/zj.jpg" alt="正见" /></div>
</div>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/media/slick/slick.min.js"></script>

<script type="text/javascript">
 $(document).ready(function(){
     $('.my-book-carousel').slick({
         centerMode: true,
         centerPadding: '60px',
         lazyLoad: 'ondemand',
         slidesToShow: 3,
         adaptiveHeight: true,
         variableWidth: true,
         autoplay: true,
         autoplaySpeed: 500,
     });
 });
</script>
