<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" >
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:876px)" href="/media/css/cnstyle.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-width:876px)" href="/media/css/cntinystyle.css"/>
    <link rel="stylesheet" href="/media/css/highlight.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
 <link rel="stylesheet" href="/media/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/media/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
<script type="text/javascript" src="/media/js/go-top.js"></script>
<script type="text/javascript" src="/media/js/classie.js"></script>




</head>
  <body class="cbp-spmenu-push">
	      {% if page.matheq %}
		{% include mathjax.md %}
		{% endif %}
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
<!-- body has the class "cbp-spmenu-push" -->
<div class="container">
	<div class="main">
		<section class="buttonset">
			<!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
			<button id="showRightPush">&#9776;</button>
		</section>
	</div>
</div>
        </header>
        <nav>
	<span><a title="关于" class="" href="{{ site.url }}/about/">关于</a></span>
        <span><a title="博文目录" class="" href="{{ site.url }}/">博文目录</a></span>
	<span><a title="软件工具推荐" class="" href="{{ site.url }}/recommend/">软件工具推荐</a></span>        
        <span><a title="类别" class="" href="{{ site.url }}/categories/">类别</a></span>
        <span><a title="标签" class="" href="{{ site.url }}/tags/">标签</a></span>
	<span><a title="链接" class="" href="{{ site.url }}/links/">链接</a></span>        
	<span><a title="订阅我" class="" href="{{ site.url }}/feed/">订阅我</a></span>
	<span><a title="返回首页" class="" href="{{ site.homepage }}/">返回首页</a></span>
	<span><a title="英文版" class="" href="{{ site.homepage }}/en/">英文版</a></span>
        </nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
	<p><img class="miniAvata" src="http://ww1.sinaimg.cn/small/61dccbaajw1e9gxs6dc5tj20dc0de40a.jpg" ></img></p>
	<a title="关于" class="" href="{{ site.url }}/about/">关于</a>
        <a title="博文目录" class="" href="{{ site.url }}/">博文目录</a>
	<a title="软件工具推荐" class="" href="{{ site.url }}/recommend/">软件工具推荐</a>        
        <a title="类别" class="" href="{{ site.url }}/categories/">类别</a>
        <a title="标签" class="" href="{{ site.url }}/tags/">标签</a>
	<a title="链接" class="" href="{{ site.url }}/links/">链接</a>        
	<a title="订阅我" class="" href="{{ site.url }}/feed/">订阅我</a>
	<a title="返回首页" class="" href="{{ site.homepage }}/">返回首页</a>
	<a title="英文版" class="" href="{{ site.homepage }}/en/">英文版</a>
</nav>
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>
<script type="text/javascript">
var showRightPush = document.getElementById( 'showRightPush' );
var menuRight = document.getElementById( 'cbp-spmenu-s2' );
var body = document.body;
showRightPush.onclick = function() {
	classie.toggle( this, 'active' );
	classie.toggle( body, 'cbp-spmenu-push-toleft' );
	classie.toggle( menuRight, 'cbp-spmenu-open' );
};
$(document).click(function(event) {
	if(!$(event.target).is('nav')&& !$(event.target).is('button') && classie.has( menuRight,'cbp-spmenu-open'))
	{
		classie.toggle( showRightPush, 'active' );
		classie.toggle( body, 'cbp-spmenu-push-toleft' );
		classie.toggle( menuRight, 'cbp-spmenu-open' );
}});
</script>
<script>
/* <![CDATA[ */
(new GoTop()).init({
	pageWidth		:600,
	nodeId			:'go-top',
	nodeWidth		:50,
	distanceToBottom	:125,
	hideRegionHeight	:130,
        text			:''
});
/* ]]> */
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=40045081" charset="UTF-8"></script> 
  </body>
</html>
