<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" >
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:850px)" href="/media/css/cnstyle.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-width:850px)" href="/media/css/cntinystyle.css"/>
    <link rel="stylesheet" href="/media/css/highlight.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
 <link rel="stylesheet" href="/media/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/media/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
<script type="text/javascript" src="/media/js/go-top.js"></script>
<script type="text/javascript" src="/media/js/classie.js"></script>

</head>
  <body class="cbp-spmenu-push">
	      {% if page.matheq %}
		{% include mathjax.md %}
		{% endif %}

        {{ content }}

    <script>/* <![CDATA[ */
(new GoTop()).init({
	pageWidth		:600,
	nodeId			:'go-top',
	nodeWidth		:50,
	distanceToBottom	:125,
	hideRegionHeight	:130,
        text			:'<i class="fa fa-angle-double-up fa-2x down"></i>'
});
/* ]]> */</script>
<script type="text/javascript">
var showRightPush = document.getElementById( 'showRightPush' );
var menu = document.getElementById( 'cbp-spmenu-s1' );
var body = document.body;
var contain = document.getElementById( 'container' );
showRightPush.onclick = function() {
	classie.toggle( this, 'active' );
	classie.toggle( body, 'cbp-spmenu-push-toleft' );
	classie.toggle( menu, 'cbp-spmenu-open' );
	disableOther( 'showRightPush' );
};
$(document).click(function(event) {
	if(!$(event.target).is('i')&&!$(event.target).is('nav')&& !$(event.target).is('button') && classie.has( menu,'cbp-spmenu-open'))
	{
		classie.toggle( showRightPush, 'active' );
		classie.toggle( body, 'cbp-spmenu-push-toleft' );
		classie.toggle( menu, 'cbp-spmenu-open' );
	};
	if(!$(event.target).is('i')&&!$(event.target).is('nav')&& !$(event.target).is('img')&& !$(event.target).is('button') && classie.has( menu,'cbp-spmenu-open'))
	{
		classie.toggle( menu, 'cbp-spmenu-open' );
	};
	if(!$(event.target).is('i')&&!$(event.target).is('nav')&& !$(event.target).is('img')&& !$(event.target).is('button') && classie.has( menu,'cbp-bigpage'))
	{
		classie.toggle( menu, 'cbp-bigpage' );
		if ( classie.has( menu, 'cbp-bigpage' ) ){
			var cof = jQuery("#container").offset().left;
			if ( cof < 240) {
				classie.add(contain, 'ccbp-bigpage' ); // add new class
			}else{
				classie.remove(contain, 'ccbp-bigpage' ) // remove class
			}
		}else{
			classie.remove(contain, 'ccbp-bigpage' ); // remove class
		}
	};
});
$(function(){
	$(document).keydown(function(e) {
		if (e.target.nodeName.toUpperCase() != 'BODY') return;
		if (e.which == 77){// M
			classie.toggle( menu, 'cbp-bigpage' );
			if ( classie.has( menu, 'cbp-bigpage' ) ){
				var cof = jQuery("#container").offset().left;
				if ( cof < 240) {
					classie.add(contain, 'ccbp-bigpage' ); // add new class
				}
			}else{
				classie.remove(contain, 'ccbp-bigpage' ); // remove class
			}
		}
	});
});
function disableOther( button ) {
	if( button !== 'showRightPush' ) {
		classie.toggle( showRightPush, 'disabled' );
	}
}
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=40045081" charset="UTF-8"></script> 
  </body>
</html>
