<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" >
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:876px)" href="/media/css/cnstyle.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (max-width:876px)" href="/media/css/cntinystyle.css"/>
    <link rel="stylesheet" href="/media/css/highlight.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
 <link rel="stylesheet" href="/media/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/media/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
<script type="text/javascript" src="/media/js/go-top.js"></script>
</head>
  <body>
	      {% if page.matheq %}
		{% include mathjax.md %}
		{% endif %}
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
	<span><a title="about" class="" href="{{ site.url }}/about/">关于</a></span>
        <span><a title="index" class="" href="{{ site.url }}/">博文目录</a></span>
        <span><a title="categories" class="" href="{{ site.url }}/categories/">类别</a></span>
        <span><a title="tags" class="" href="{{ site.url }}/tags/">标签</a></span>
	<span><a title="links" class="" href="{{ site.url }}/links/">链接</a></span>        
	<span><a title="subscribe by RSS" class="" href="{{ site.url }}/feed/">订阅我</a></span>
	<span><a title="homepage" class="" href="{{ site.homepage }}/">返回首页</a></span>
	<span><a title="homepage" class="" href="{{ site.homepage }}/en/">英文版</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>
<script>
/* <![CDATA[ */
(new GoTop()).init({
	pageWidth		:600,
	nodeId			:'go-top',
	nodeWidth		:50,
	distanceToBottom	:125,
	hideRegionHeight	:130,
        text			:''
});
/* ]]> */
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=40045081" charset="UTF-8"></script> 
  </body>
</html>
