---
layout: default
---
<div class="headline" >
<nav class="cbp-spmenu cbp-spmenu-vertical" id="cbp-spmenu-s1">
	  <!-- <p><img class="miniAvata" src="//dustincys.github.io/media/avatar/mini.jpg" ></img></p> -->
	  <a title="砚硕" class="anav" href="{{ site.url }}/" style="font-weight:bold;">石见 石页</a>
    <a title="博客" class="anav" href="{{ site.url }}/blog/">博客</a>
	  <a title="软件" class="anav" href="{{ site.url }}/software/">软件</a>
	  <a title="幻灯片" class="anav" href="{{ site.url }}/ppt/">幻灯片</a>
	  <a title="发表文章" class="anav" href="{{ site.url }}/publication/">发表文章</a>
	  <a title="链接" class="anav" href="{{ site.url }}/links/">链接</a>
</nav>
</div>
<div id="container">
<div id="headofpost" class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <hr class="style1"/>
        <!-- body has the class "cbp-spmenu-push" -->
        <div class="container">
            <div class="main">
                <section class="buttonset">
                    <!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
                    <button id="showRightPush"><i class="fa fa-bars"></i></button>
                </section>
            </div>
        </div>
    </header>
    {% if page.toc %}
    {% include toc.md %}
    {% endif %}
    {{ content }}
</div>


{% if page.share %}
<div id="baidusharebuttons" class="baidubutton">
    <!-- {% include baidubutton.md %} -->
    <!-- <div><span>不愿分享？也可<a class="fancybox" rel="donate" href="//dustincys.github.io/media/figure/donate.jpg" title="">捐赠</a>……</span></div> -->
</div>
{% assign isshare='1' %}
{% else %}
{% assign isshare='0' %}
{% endif %}

{% if page.comments %}
    {% include comment_giscus.md %}
{% assign iscomments='1' %}
{% else %}
{% assign iscomments='0' %}
{% endif %}

{% assign barsDTB='1' %}
<script>
 /* <![CDATA[ */
 (new Bars()).init({
	   pageWidth		:600,
	   nodeId			:'bars',
	   nodeWidth		:50,
	   distanceToBottom	:{{barsDTB | plus: isshare| plus:  iscomments| times: 50 | plus: 125 }},
	   hideRegionHeight	:-1,
     text			:'<i class="fa fa-bars fa-2x down"></i>'
 });
 /* ]]> */
</script>

{% if page.share %}
{% assign shareDTB='0' %}
<script>
/* <![CDATA[ */
(new Share()).init({
	pageWidth		:600,
	nodeId			:'share',
	nodeWidth		:50,
	distanceToBottom	:{{ shareDTB| plus: iscomments| plus:isshare | times: 50 | plus: 125 }},
	hideRegionHeight	:-1,
        text			:'<i class="fa fa-share-alt fa-2x down"></i>'
});
/* ]]> */
</script>
{% endif %}

{% if page.comments %}
{% assign commentsDTB='0' %}
<script>
/* <![CDATA[ */
(new Comment()).init({
	pageWidth		:600,
	nodeId			:'comment',
	nodeWidth		:50,
	distanceToBottom	:{{ commentsDTB| plus:iscomments | times: 50 | plus: 125 }},
	hideRegionHeight	:-1,
        text			:'<i class="fa fa-commenting-o fa-2x down"></i>'
});
/* ]]> */
</script>
{% endif %}

</div>
